
@media (max-width: 700px){
    .banner h1{
        font-size: 1.5rem;
        margin-bottom: .2rem;
    }
    .banner p{
        font-size: 1.3rem;
       
    }
    .banner{
        position: absolute;
        top: 5%;
        left: 15%; 
    }
    .banner button{
        font-size: .6rem;
        padding: 12px;
    }
}
@media (max-width: 975px){
    .conhecimentos{
        width: 100%;
        display:list-item;  
    }
    .conhecimento{
        justify-content: center;
        align-items: center;
        padding-left: 25%;
    }
    .conhecimento:nth-child(1){
        width:50%;
    }
    .conhecimento:nth-child(2){
        width: 50%;
    }
    .conhecimento:nth-child(3){
        width: 50%;
    } 
    .conhecimento:nth-child(4){
        width: 50%;
    } 
    .conhecimento:nth-child(5){
        width: 50%;
    } 
    .conhecimento:nth-child(6){
        width: 50%;
    }
    .conhecimentos-img-wrapper img{
        width: 0%;
    }
    .projetos{
        display: list-item;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 70%;
        position: relative;
        padding-left: 20%;
        padding-top: 5px;
    }
    .card-info{
        opacity: 1;
        visibility:visible;
    }
    .card-img-wrapper img{
        opacity: 20%;
    }
}
@media (max-width: 670px){
    .field{
        width: 100%;
    }
}
@media (max-width: 918px){
    .sessao-orcamento h1{
        font-size: 1.5rem;
    }
}
@media (max-width: 600px){
    .sessao-orcamento h1{
        font-size: 1.2rem;
    }
    .sessao-orcamento form{
        position: absolute;
        display: grid;
    }
    .sessao-orcamento label{
        background-color: white;
        left: -30%;
        position: relative;
        font-size: 1.4rem;
    }
    .sessao-orcamento input{
        left: -42px;
        position: relative;
    }
    .btn-orcamento{
        position: relative;
        right: 10px;
    }
    .orcamento-wrapper{
        width: 90%;
    }
    .btn-orcamento:hover{
        animation: none
    }
}
@media (min-width: 500px) and (max-width: 1213px){
    .footer-content {
        display: list-item;
        padding-left: 7%;
    }
    .footer-content p{
        font-size: 1.3rem;
        width: 300px;
    }
    .social-list a{
        margin: 0 1rem;
        color: #a7a7a7;
        font-size: 1rem;
    }
}