@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;1,200;1,300&family=Mulish:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    right: 4%;
    top: 1rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: right 0.6s;
}

.line{
    width: 100%;
    height: .08rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: .7s;
}
.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .38rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.4rem);;
}

.hamburguer span{
    position: absolute;
    right: -6rem;
    height: .7rem;
    width: 4rem;
    background-color: #b300cc;
    color: white;
    font-family: var(--font-action);
    padding: .7rem;
    border-radius: 6px;
    text-transform:capitalize;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburguer span::before{
    content: "";
    position: absolute; 
    border-right: .5rem solid #b300cc;
    border-left: .5rem solid transparent;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
    
}

.show-menu .hamburguer:hover span{
    opacity: 100;
    transition-delay: 0.17s;
}*/

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.9)
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation:zoom 25s;
}
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
    
}

.banner h1{
    color: white;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0,0,0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: movebanner 1.3s forwards;
    opacity: 0;
}
.banner  p{
    font-family: var(--font-secundary);
    color: white;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0,0,0, .4);
    margin-bottom: 2rem;
    animation: movebanner 1.3s 0.2s forwards;
    opacity: 0;
}
.banner button{
    font-family: var(--font-action);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #ff00cc;  
    background: #7F00FF; 
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF); 
    background: linear-gradient(to right, #E100FF, #7F00FF); 
    padding: 1rem 3rem; 
    border: none;   
    border-radius: 5px;
    cursor: pointer;
    animation: movebanner 1.5s 0.4s forwards;
    opacity: 0;
}

.banner button:hover{
    transition: 0.3s;
    opacity: 0.8; 
    border-radius: 15px;
    font-size: 1.2rem;
    
}

@keyframes movebanner{
    0%{
        transform: translateY(10rem) rotateY(30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: right 0.6s;
}

.show-menu .sidebar{
    right: 0;
}
.show-menu .hamburguer{
    right: 17rem;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
   
}
.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #454545;
    transition: 0.5s;
}

.menu-link:hover{
    color: #b300cc;
    font-size: 2.1rem;
    
}

.social-media{
    position: absolute;
    bottom: 2rem;
    font-size: 2.3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #454545;
}

.social-media i{
    color: #454545;
    transition: 0.3s;
    display: flex;
    justify-content: center;
}

.social-media i:hover{
    color: #860097;
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
}

.conhecimento:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(6){
    grid-column: 11 / 14 ;
    grid-row: 5 / -1;
}
.sessao-conhecimentos{
    background-color: rgb(231, 231, 231);
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: rgb(54, 54, 54);
    border-bottom: solid 3px #9900ad;
    margin-bottom: 1.5rem;
}

.conhecimento-header{
    display: flex;
    align-items: center;
}
.conhecimento-header i{
    font-size: 2.5rem;
    color:rgb(54, 54, 54);
}
.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}
.conhecimento-text{
    font-family: var(--font-secundary);
    margin-top: 1rem;  
}
.conhecimentos-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}
.conhecimentos-img-wrapper img{
    object-fit: cover;
    width: 90%;
}

.projetos{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 19rem;
    height: 25rem;
    position: relative;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    border-radius: .7rem;
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .7rem;
    opacity: .8;
}

.card-info{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, .4);
}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #f0f0f0;
}

.card-info h3{
    font-family: var(--font-secundary);
    font-weight: bolder;
    color: #ff4081;
    margin-bottom: 1.5rem;
}

.card-info p{
    font-family: var(--font-secundary);
    width: 80%;
    color: #eee;
    font-weight: 400;
    margin-bottom: 2rem;
}

.btn{
    font-family: var(--font-action);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: #ff00cc;  
    background: #7F00FF; 
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF); 
    background: linear-gradient(to right, #E100FF, #7F00FF); 
    padding: 2px;
    border: none;   
    border-radius: 5px;
    cursor: pointer;
}

.card-info button{
    width: 8rem;
    height: 2.5rem;
    transition: 0.3s;
}

.card-info button:hover{
    width: 10rem;
    height: 3rem;
    font-size: 1.1rem;
    box-shadow: 0rem 0rem .2rem .2rem rgba(184, 134, 175, 0.2);
}

.card:hover .card-info{
    transition: .5s;
    opacity: 1;
    visibility: visible;

}
.card:hover .card-img-wrapper img{
    opacity: 20%;
}

.sessao-contato{
    width: 100%;
    height: 100vh;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato-wrapper{
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.5);
}

.contato-left{
    width: 35%;
    background-image:
        linear-gradient(rgba(15, 15, 15, 0.603), rgba(22,22,22,0.9)),
        url(imagens/contato.jpg);
    background-size: cover;
}

.contato-right{
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
}

.sessao-contato h1{
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.input-group{
   position: relative;
}
.input-group textarea{
    padding: 0.9rem;
    max-width: 27rem;
    max-height: 3rem;
}

.field{
    background-color: transparent;
    border: none; 
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 3rem;
    outline: none;
    margin: 1rem 0;
}

.field-label{
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: 0.3s;
}

.field:focus ~ label{
    top: 0;    
    font-size: 1rem;
}

.field:focus{
    border-bottom: 1px #800080 solid;
}

.btn-submit{
    font-size: 1.3rem;
    width: 90%;
    height: 2.3rem;
    margin-top: 1.3rem;
}